# dependencies
node_modules/
.pnpm-store/

# build output
.next/
dist/
build/
coverage/

# env files
.env
.env.*
!.env.example

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# misc
*.tsbuildinfo
